.login_hander {
    height: 60px;
    min-width: 1200px;
    display: flex;
    padding: 0 56px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(198,205,207,0.63);
    box-sizing: border-box;
}

.login_hander img {
    transform: translateY(4px)
}

.login_hander h1 {
    font-size: 18px;
    color: #219767;
    font-weight: Bold;
    margin-left: 20px;
}